*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* nav code start */
nav{
    height: 60px;
    background-color: #130f40;
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 100;

}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.active{
    background-color: red;
    padding: 8px 10px;
    border-radius: 3px;
}
.logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
  
}
.logo span{
    color: red;
}
#bars{
    color: #fff;
    font-size: 25px;
    display: none;
    cursor: pointer;
}
#click:checked ~ #bars i::before{
    content: '\f00d';
}
/* nav code end */
/* navigation media query code */
@media only screen and (max-width:992px) {
   
    #bars{
        display: block;
    }
    #click:checked ~  ul{
       left: 0%;
    }
    nav{
        padding-left: 30px;
        padding-right: 30px;
    }
     nav ul{
        position: fixed;
        top: 60px;
        left: -250px;
        background-color: black;
        flex-direction: column;
        width: 250px;
        height: 60vh;
        transition: all .5s ease;
     }
     nav ul li{
        padding: 10px 30px;
        border-bottom: 1px solid #fff;
        margin: 0;
        display: block;
        transition: .5s ease;
       
     }
     nav ul li:hover{
        background-color: #eb2f06;
     }
     nav ul li a{
        display: block;
     }
    
     .active{
        background: none;
        padding: 0;
     }

}

section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.87),rgba(0, 0, 0, 0.788)),url('img/bruce-mars-y0SMHt74yqc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    padding: 100px 0;
}
.container{
    margin-left: 200px;
    margin-right: 200px;
}
.schedule-title{
    text-align: center;
}
.schedule-title h1{
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.schedule-title span{
    color: orangered;
}
.schedule-title p{
    color: #fff;
    margin-left: 150px;
    margin-right: 150px;
    font-family: sans-serif;
    font-size: 17px;
    margin-bottom: 60px;
}
.schedule-title h4{
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.schedule-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #fff;
}
.child-div{
    border: 1px solid #808080;
    height: 60px;
    text-align: center;
    display: grid;
    place-items: center;
    text-transform: uppercase;
}
@media only screen and (max-width:688px) {
    section{
        padding: 100px 0;
    }
    .container{
        margin-left: 10px;
        margin-right: 10px;
    }
    .schedule-title p{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media only screen and (min-width:689px) and (max-width:999px) {
    section{
        padding: 100px 0;
    }
    .container{
        margin-left: 50px;
        margin-right: 50px;
    }
    .schedule-title p{
        margin-left: 70px;
        margin-right: 70px;
    }
}

